<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<form method="GET" action="/">
    <input type="text" name="search_term"/>
    <input type="submit"/>
</form>

<table>
    <tr th:each="sr : ${searchResults}">
        <td><span th:text="${sr.entryType}"/></td>
        <td><span th:text="${sr.name}"/></td>
        <td><a th:href="@{/track(entryId=${sr.entryId},entryType=${sr.entryType},entryName=${sr.name})}">Track</a></td>
    </tr>
</table>

<div th:if="${tracked != null && !tracked.empty}">
    <h2>Tracked entries</h2>
    <div th:each="entry : ${tracked}">
        <a th:href="@{http://flibusta.is/sequence/{seqId}(seqId=${entry.entryId})}"><span th:text="${entry.entryName}"/></a> (<span th:text="${entry.numEntries}"/> entries) <a th:href="@{/untrack(id=${entry.id})}">x</a>
    </div>
</div>

</body>
</html>