<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header :: header"></head>

<body>

    <nav th:replace="fragments/header :: navbar" />

    <div class="login-form">
        <form>
            <p>Представьтесь, пожалуйста.</p>
            <a href="/oauth2/authorization/google" class=""><img th:src="@{/images/sign_in.png}" /></a>
        </form>
    </div>

    <script th:src="@{/js/bootstrap.js}"></script>
    <script>
        $(".untrack").tooltip();
    </script>

</body>

</html>