[Unit]
Description=Flibustier
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=java -Dspring.jpa.hibernate.ddl-auto=update \
    -Dlogging.file=/var/log/flibustier.log \
    -Dspring.profiles.active=prod \
    -Dflibusta.dburl=jdbc:sqlite:/opt/apps/flibustier/flibusta.db \
    -Dflibustier.myemail=flibustier@r-k.co \
    -Dspring.datasource.url=jdbc:mysql://localhost:3306/flibustier \
    -Dspring.jpa.hibernate.ddl-auto=update \
    -Dspring.datasource.driver-class-name=com.mysql.jdbc.Driver \
    -Dspring.datasource.username=flibustier \
    -Dspring.datasource.password="flibusta" \
    -Dspring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MariaDB53Dialect \
    -jar /opt/apps/flibustier/web/target/flibustier-web-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target