<configuration debug="true">
    <springProfile name="prod">
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>/var/log/flibustier.log</file>

            <encoder>
                <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="Audit" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/flibustier-audit.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>/var/log/flibustier-audit.%d{yyyy-MM-dd}.log</fileNamePattern>

                <maxHistory>30</maxHistory>
                <totalSizeCap>50mb</totalSizeCap>
            </rollingPolicy>


            <encoder>
                <pattern>%date %msg [%file:%line]%n</pattern>
            </encoder>
        </appender>



        <logger name="audit" level="DEBUG" additivity="false">
            <appender-ref ref="Audit"/>
        </logger>


        <root level="info">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
                </Pattern>
            </layout>
        </appender>

        <appender name="Audit" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>audit.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>flibustier-audit.%d{yyyy-MM-dd}.log</fileNamePattern>

                <!-- keep 30 days' worth of history capped at 3GB total size -->
                <maxHistory>30</maxHistory>
                <totalSizeCap>50mb</totalSizeCap>
            </rollingPolicy>

            <encoder>
                <pattern>%date %msg [%file:%line]%n</pattern>
            </encoder>
        </appender>

        <logger name="audit" level="DEBUG" additivity="false">
            <appender-ref ref="Audit"/>
        </logger>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
                </Pattern>
            </layout>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>